@import "lib/font-lineicons.css";
@import "lib/toastr.min.css";
@import "lib/bootstrap.min.css";
@import "lib/font-awesome.min.css";

.preloader-mask {
    background:#1C1E20;
}
/********** HEADER ***************/
.header.header-black .header-wrapper {
    background:#1C1E20;
    border-bottom:3px solid  #F0C40F;
}
.header-logo  {
    max-width:150px;
}

/********* BACKGROUNDS ***************/

/********** COMMON *****************/
* {
    -webkit-font-smoothing: antialiased !important;
}
body {
    @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #262627;
    line-height: 1.5625;
    overflow-x: hidden;
    min-height: 100px;
}
body > .container {
    padding-top: 65px;
}
.thin {
    font-weight: 300;
}
.normal {
    font-weight: 400;
}
.bold {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 50px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 20px;
}
.h7 {
    font-size: 15px;
}
.h8 {
    font-size: 13px;
    letter-spacing: 0.02em;
}
.extra-heading {
    margin: 0 0 8px;
    font-size: 132px;
    text-transform: uppercase;
    letter-spacing: 0;
}
h1,
h2,
h4,
h5,
h6,
.h7 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #262627;
}
h1,
h2,
h4,
h5 {
    letter-spacing: -0.06em;
    color: #262627;
}
h3{
    font-weight: 400;
}

h5.heading-alt {
    text-transform: uppercase;
    font-size: 19px;
    line-height: 1.7;
    letter-spacing: 0.5em;
    color: #262627;
}
h6.heading-alt {
    font-size: 15px;
    line-height: 1.5;
    color: #474749;
    letter-spacing: 0.15em;
}

p,
article {
    margin: 0 0 10px;
    line-height: 29px;
}
p.small,
article.small {
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    color: #babfcc;
}
strong {
    display: inline-block;
    font-weight: 500;
}
small {
    display: inline-block;
    font-size: 13px;
}
.text-alt,
.counter-box .counter-content .title {
    color: #B8BCC3;
}
a {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    outline: none;
}
.link-btn {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.22em;
}
span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.light-text,
.footer {
    color: #ffffff;
}
.light-text h1,
.light-text h2,
.light-text h3,
.light-text h4,
.light-text h5,
.light-text h6,
.light-text .h7,
.light-text .h8,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer .h7,
.footer .h8 {
    color: inherit;
}
.light-text h1.heading-alt,
.light-text h2.heading-alt,
.light-text h3.heading-alt,
.light-text h4.heading-alt,
.light-text h5.heading-alt,
.light-text h6.heading-alt,
.light-text .h7.heading-alt,
.light-text .h8.heading-alt,
.footer h1.heading-alt,
.footer h2.heading-alt,
.footer h3.heading-alt,
.footer h4.heading-alt,
.footer h5.heading-alt,
.footer h6.heading-alt,
.footer .h7.heading-alt,
.footer .h8.heading-alt {
    color: inherit;
}
.dark-text {
    color: #262627;
}
.dark-text.fa {
    color: #262627;
}
.dark-text .fa {
    color: inherit;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

img {
    max-width: 100%;
}
.retina-show {
    display: none;
}
.base-clr-bd,
.preloader-mask .preloader,
.preloader-mask .preloader:before,
.preloader-mask .preloader:after,
.btn.btn-outline-clr,
.btn.btn-outline-clr:hover,
.btn.btn-outline-clr:focus,
.btn.btn-outline-clr:active,
.btn.btn-outline-clr.hovered,
.btn.btn-outline-clr.pressed,
.nav.nav-schedule > li:after,
.schedule .tab-content .nav.nav-schedule > li.active,
.schedule .schedule-item .lecture-icon-wrapper,
.download-schedule-btn:hover,
.download-schedule-btn:focus,
.schedule.schedule-light .nav.nav-schedule,
.schedule.schedule-light .tab-content,
.nav-wrapper .nav-current,
textarea.error,
input[type=text].error,
input[type=url].error,
input[type=tel].error,
input[type=number].error,
input[type=color].error,
input[type=email].error,
input[type=email].error,
input[type=password].error,
.package-column.special-column,
.package-column.package-bright,
.package-panel,
.counter-block.counter-block-border .counter-box,
.speaker .speaker-socials > li .fa,
.dropdown-toggle:after,
.navigation-link.active,
.header .buy-btn,
.header .buy-btn:hover,
.header .buy-btn:focus,
.header .buy-btn:active,
.header .buy-btn.hovered,
.header .buy-btn.pressed {
    border-color: #F0C40F;
}
.base-clr-bg,
.overlay.overlay-clr:before,
.overlay.overlay-clr[class*="bg"]:before,
.base-clr-ovl:before,
.btn,
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white:active,
.btn.btn-white.hovered,
.btn.btn-white.pressed,
.nav.nav-schedule > li.active,
.download-schedule-btn:hover,
.download-schedule-btn:focus,
.schedule.schedule-light .nav.nav-schedule > li,
.schedule.schedule-light .schedule-item .schedule-item-toggle .lecture-icon-wrapper,
.tabs-vertical .nav.nav-tabs:before,
.tabs-vertical .nav.nav-tabs > li:not(.active) a,
.panel-group .panel .panel-heading a,
.panel-group-alt .panel > a:not(.collapsed),
.table > thead > tr > th,
.table > thead > tr > td,
.package-column.special-column .sale-label,
.package-column.package-bright.special-column,
.package-panel .buy-btn,
.counter-block.counter-block-solid .counter-box,
.gallery.light-slider .description-slider-wrapper .bx-pager-link.active,
.gallery-thumb-link:after,
.speaker .speaker-socials > li .fa,
.contacts-wrapper-color:before,
.header.header-color .header-wrapper,
.header.header-color .dropdown-menu,
.header:not(.header-color):not(.header-black) .navbar-collapse,
.navbar-toggle .icon-bar,
.call-to-action-section > .overlay:before,
.thumb-wrapper .overlay:before,
.header .buy-btn {
    color: #000;
    background-color: #F0C40F;
}

.base-clr-txt,
.highlight,
a,
a:hover,
a:active,
a:focus,
.fa,
.icon,
.btn.btn-outline-clr,
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active,
.btn.btn-outline.hovered,
.btn.btn-outline.pressed,
.btn.btn-white,
.schedule .tab-content .nav.nav-schedule > li.active > a:not(:hover):not(:active),
.schedule .tab-content .nav.nav-schedule > li.active > a:hover,
.schedule .tab-content .nav.nav-schedule > li.active > a:focus,
.schedule .schedule-item .schedule-item-toggle.collapsed .title .icon,
.schedule .schedule-item .schedule-item-body .speaker-name,
.schedule.schedule-light .nav.nav-schedule > li.active a,
.schedule.schedule-light .nav.nav-schedule > li.active a:hover,
.schedule.schedule-light .nav.nav-schedule > li.active a:focus,
.schedule.schedule-light .nav.nav-schedule > li.active a *,
.schedule.schedule-light .nav.nav-schedule > li.active a:hover *,
.schedule.schedule-light .nav.nav-schedule > li.active a:focus *,
.schedule.schedule-light .schedule-item .schedule-item-body .speaker-name,
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active > a:hover,
.nav.nav-tabs > li.active > a:focus,
.panel-group-alt .panel > a .fa,
label.error,
input.btn.btn-outline,
.pseudo-select .pseudo-select-dropdown-item.selected:not(.disabled),
input[type="submit"] + .loading,
.testimonial .author-block .name,
.package-column .package-title,
.package-column.special-column .package-price,
.package-column.package-bright:not(.special-column):hover .package-detail,
.package-column.package-bright .package-price,
.package-column.package-bright.special-column .btn:hover,
.package-column.package-bright.special-column .btn:focus,
.package-column.package-bright.special-column .btn:active,
.package-column.package-bright.special-column .btn.hovered,
.package-column.package-bright.special-column .btn.pressed,
.counter-box .counter-content > .count,
.speaker .name,
.balloon .name,
.header.header-black .navigation-link:hover,
.header.header-black .navigation-link:active,
.header.header-black .navigation-link:focus,
.header.header-black .navigation-link.active,
.dropdown:hover .dropdown-toggle,
.dropdown.open .navigation-link.dropdown-toggle,
.dropdown.open .navigation-link:not(.active):not(:hover):not(:focus):not(:active).dropdown-toggle,
.dropdown-menu .navigation-link:hover,
.dropdown-menu .navigation-link:focus,
.dropdown-menu .navigation-link:active,
.navigation-link:hover,
.navigation-link:active,
.navigation-link:focus,
.navigation-link.active,
.header.header-color .navigation-header .buy-btn:hover,
.header.header-color .navigation-header .buy-btn:focus,
.header.header-color .navigation-header .buy-btn:active,
.header.header-color .navigation-header .buy-btn.hovered,
.header.header-color .navigation-header .buy-btn.pressed,
input.header.header-color .navigation-header .buy-btn,
.header .buy-btn {
    color: #F0C40F;
}
.base-clr-txt{
    margin-left:20px;
}
::selection {
    color: #ffffff;
    background-color: rgba(254, 73, 24, 0.85);
}
::-moz-selection {
    color: #ffffff;
    background-color: rgba(254, 73, 24, 0.85);
}

hr {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: none;
    background-color: #e9e9e9;
}
hr.no-margin {
    margin: 0;
}
ul {
    margin: 0 0 10px;
}
li {
    margin-bottom: 7px;
}
.visible {
    opacity: 1;
}
.section {
    position: relative;
    padding: 90px 0;
}
.icon,
.fa {
    line-height: 1;
}

.container {
    position: relative;
}

.overlay {
    position: relative;
    z-index: 1;
}
.overlay:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-color: #262627;
    z-index: -1;
}
.overlay.overlay-clr .fa,
.overlay.overlay-clr .icon {
    color: inherit;
}
.overlay > * {
    z-index: 1;
}

.heading-block {
    padding: 120px 0;
}

/* ----------------------------------------------------------------------------
    Buttons
---------------------------------------------------------------------------- */
.btn,
.header .buy-btn {
    -webkit-box-shadow: inset 0 65px 0 transparent;
    -moz-box-shadow: inset 0 65px 0 transparent;
    box-shadow: inset 0 65px 0 transparent;
    -webkit-transition: color 0.2s ease, border 0.2s ease, background 0.25s ease, -webkit-box-shadow 0.2s ease;
    -moz-transition: color 0.2s ease, border 0.2s ease, background 0.25s ease, -moz-box-shadow 0.2s ease;
    -o-transition: color 0.2s ease, border 0.2s ease, background 0.25s ease, box-shadow 0.2s ease;
    transition: color 0.2s ease, border 0.2s ease, background 0.25s ease, box-shadow 0.2s ease;
    position: relative;
    margin: 0 7px;
    vertical-align: middle;
    display: inline-block;
    min-width: 144px;
    max-width: 100%;
    padding: 21px 25px 19px;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.59em;
    border-color:#262627;
    border-radius: 4px;
    overflow: hidden;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
}
.btn:hover,
.btn:focus,
.btn.hovered {
    -webkit-box-shadow: inset 0 65px 0 rgba(255, 255, 255, 0.26);
    -moz-box-shadow: inset 0 65px 0 rgba(255, 255, 255, 0.26);
    box-shadow: inset 0 65px 0 rgba(255, 255, 255, 0.26);
    color: #ffffff;
}
.btn:active,
.btn.pressed {
    -webkit-box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
}
.btn.btn-lg {
    min-width: 200px;
    padding: 26px 40px 23px;
    font-size: 15px;
    letter-spacing: 0.4em;
}
.btn.btn-sm {
    min-width: 140px;
    padding: 14px 20px 13px;
}
.btn.btn-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
}
.btn.btn-outline,
.btn.btn-outline-clr,
.header.header-color .navigation-header .buy-btn,
.header .buy-btn {
    padding: 18px 22px 16px;
    border: 1px solid;
}
.btn.btn-outline.btn-lg,
.btn.btn-outline-clr.btn-lg,
.header.header-color .navigation-header .buy-btn.btn-lg,
.header .buy-btn.btn-lg {
    padding: 25px 39px 22px;
}
.btn.btn-outline.btn-sm,
.btn.btn-outline-clr.btn-sm,
.header.header-color .navigation-header .buy-btn.btn-sm,
.header.header-color .navigation-header .buy-btn,
.header .buy-btn.btn-sm,
.header .buy-btn {
    padding: 13px 17px 12px;
}
.btn.btn-outline-clr,
.header .buy-btn {
    -webkit-box-shadow: inset 0 65px 0 transparent;
    -moz-box-shadow: inset 0 65px 0 transparent;
    box-shadow: inset 0 65px 0 transparent;
}
.btn.btn-outline-clr:hover,
.btn.btn-outline-clr:focus,
.btn.btn-outline-clr:active,
.btn.btn-outline-clr.hovered,
.btn.btn-outline-clr.pressed,
.header .buy-btn:hover,
.header .buy-btn:focus,
.header .buy-btn:active,
.header .buy-btn.hovered,
.header .buy-btn.pressed {
    color: #ffffff;
}
.btn.btn-outline-clr:not(:hover):not(:hover):not(:active):not(.hovered):not(.pressed),
.header .buy-btn:not(:hover):not(:hover):not(:active):not(.hovered):not(.pressed) {
    background-color: transparent;
}
.btn.btn-outline-clr .fa,
.header .buy-btn .fa {
    color: inherit;
}
.btn.btn-outline,
.header.header-color .navigation-header .buy-btn {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline:active,
.btn.btn-outline.hovered,
.btn.btn-outline.pressed,
.header.header-color .navigation-header .buy-btn:hover,
.header.header-color .navigation-header .buy-btn:focus,
.header.header-color .navigation-header .buy-btn:active,
.header.header-color .navigation-header .buy-btn.hovered,
.header.header-color .navigation-header .buy-btn.pressed {
    background-color: #ffffff;
}
.btn.btn-outline:hover,
.btn.btn-outline:focus,
.btn.btn-outline.hovered,
.header.header-color .navigation-header .buy-btn:hover,
.header.header-color .navigation-header .buy-btn:focus,
.header.header-color .navigation-header .buy-btn.hovered {
    -webkit-box-shadow: inset 0 65px 0 transparent;
    -moz-box-shadow: inset 0 65px 0 transparent;
    box-shadow: inset 0 65px 0 transparent;
}
.btn.btn-outline:active,
.btn.btn-outline.pressed,
.header.header-color .navigation-header .buy-btn:active,
.header.header-color .navigation-header .buy-btn.pressed {
    -webkit-box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
}
.btn.btn-black {
    background-color: #262627;
}
.btn.btn-white {
    background-color: #ffffff;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white:active,
.btn.btn-white.hovered,
.btn.btn-white.pressed {
    color: #ffffff;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.hovered {
    -webkit-box-shadow: inset 0 65px 0 transparent;
    -moz-box-shadow: inset 0 65px 0 transparent;
    box-shadow: inset 0 65px 0 transparent;
}
.btn.btn-white:active,
.btn.btn-white.pressed {
    -webkit-box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
    -moz-box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 65px 0 rgba(0, 0, 0, 0.06);
}
.btn .fa {
    margin-right: 0.3em;
    padding-right: 4px;
}
button.btn.btn-block {
    width: 100%;
}
.btn.btn-rounded {
    border-radius: 26px;
    padding: 21px 34px 19px;
}
.btn.btn-rounded.btn-lg {
    border-radius: 30px;
    padding: 24px 39px 21px;
}
.btn.btn-rounded.btn-sm {
    border-radius: 19px;
    padding: 14px 27px 13px;
}
.btn.btn-rounded.btn-outline,
.btn.btn-rounded.btn-outline-clr {
    padding: 20px 33px 18px;
}
.btn.btn-rounded.btn-outline.btn-lg,
.btn.btn-rounded.btn-outline-clr.btn-lg {
    padding: 23px 38px 20px;
}
.btn.btn-rounded.btn-outline.btn-sm,
.btn.btn-rounded.btn-outline-clr.btn-sm {
    padding: 13px 26px 12px;
}
.light-text .btn-no-border,
.footer .btn-no-border {
    color: #ffffff;
}
.dark-text .btn-no-border {
    color: #262627;
}
.btns-container {
    padding: 27px 0 40px;
}
.btns-block {
    padding: 20px 0;
}
.btns-block:first-child {
    margin-top: 30px;
}
.btns-block:last-child {
    margin-bottom: 30px;
}
.btns-block .btn {
    margin-bottom: 10px;
}

/* ----------------------------------------------------------------------------
    Header
---------------------------------------------------------------------------- */
.header {
    position: relative;
    line-height: 1.5625;
    z-index: 1000;
}
.header.header-black .header-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
}
.header.header-black .navigation-link {
    color: #262627;
}
.header.header-black .dropdown-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
}
.header.header-color .header-wrapper {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.header.header-color .navigation-header .logo {
    color: #262627;
}
.header.header-color .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.header.header-color .dropdown-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.header.header-color .navigation-link.active {
    border-color: #ffffff;
}
.header.fixed .header-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header .fade-in-on-stick {
    display: none;
}
.header .buy-btn {
    margin: 29px 0 0;
}
.header-wrapper {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.18);
    zoom: 1;
    height: 100px;
    padding: 0 0;
    background-color: #ffffff;
}
.header-wrapper:before,
.header-wrapper:after {
    content: "";
    display: table;
}
.header-wrapper:after {
    clear: both;
}
.navigation-header {
    zoom: 1;
    display: inline-block;
    padding: 10px 0 0;
}
.navigation-header:before,
.navigation-header:after {
    content: "";
    display: table;
}
.navigation-header:after {
    clear: both;
}
.navigation-header .logo {
    display: inline-block;
    padding: 3px 0;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.navigation-header .buy-btn {
    margin: 9px 0 0;
}
.navbar-toggle {
    border: none;
    z-index: 100;
}
.navbar-toggle .icon-bar {
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    -moz-transition: background 0.2s ease, color 0.2s ease;
    -o-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
    width: 25px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 9px;
}
.navigation-list {
    text-align: left;
}
.navigation-item {
    margin-left: 21px;
    display: inline-block;
    padding: 34px 0 16px;
}
.navigation-item:first-child {
    margin-left: 0;
}
.dropdown-toggle {
    position: relative;
}
.dropdown-toggle:after {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    margin-left: 30px;
    vertical-align: middle;
    display: none;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.dropdown-menu {
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: -1px 4px 20px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -1px 4px 20px 0 rgba(0, 0, 0, 0.18);
    box-shadow: -1px 4px 20px 0 rgba(0, 0, 0, 0.18);
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    float: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: -1px 0 0 -40px;
    min-width: 0;
    padding: 0;
    list-style: none;
    font-size: inherit;
    color: #262627;
    border: none;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropdown-menu .navigation-item {
    margin: 0;
    width: 100%;
    padding: 0;
}
.dropdown-menu .navigation-link {
    padding: 15px 40px;
    font-weight: 700;
    color: #262627;
    border: none;
}
.dropdown-menu .navigation-link:hover,
.dropdown-menu .navigation-link:focus,
.dropdown-menu .navigation-link:active {
    background-color: rgba(243, 245, 246, 0.1);
}
.navigation-link {
    -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease, opacity 0.15s ease;
    -moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease, opacity 0.15s ease;
    -o-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease, opacity 0.15s ease;
    transition: color 0.15s ease, background 0.15s ease, border 0.15s ease, opacity 0.15s ease;
    display: inline-block;
    padding: 7px 0;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.26em;
    color: #262627;
    border-style: solid;
    border-width: 0 0 2px;
    border-color: transparent;
    cursor: pointer;
}
.navigation-link.dropdown-toggle {
    min-width: 0;
}
.navigation-link:hover,
.navigation-link:active,
.navigation-link:focus,
.navigation-link.active {
    text-decoration: none;
}
.navbar-collapse {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

/********* INTRODUCTION ************/

.background-intro{
    background-image:url('../img/backgrounds/hackthecrisis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h3.highlight {
    font-size: 16px;
    font-weight: 700;
}

section.disable-background{
    background:transparent;
}

.black-bg {
    background: #231F20;
}
.blue-bg{
    background: #032066;
}
.black-bg h1,.black-bg h2,.black-bg h3,.black-bg h4,.black-bg h5,.black-bg h6,.black-bg p {
    color:#fff;
}
.black-bg .panel {
    background:#231F20;
}

#faq.black-bg .panel{
    background:#032066;
}

/* ----------------------------------------------------------------------------
    Navs
---------------------------------------------------------------------------- */
.nav-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.nav-wrapper .nav-current {
    position: relative;
    margin: 0;
    display: none;
    width: auto;
    height: auto;
    padding: 15px 55px 10px 15px;
    border-radius: 0;
    z-index: auto;
    cursor: pointer;
}
.nav-wrapper .nav-current * {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-wrapper .nav-current *:last-child {
    margin-bottom: 0;
}
.nav-wrapper .nav-current:after {
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -5px 0 0;
    display: inline-block;
    width: 24px;
    height: 11px;
    content: "";
    background: transparent url("../img/arrow-select-24x11.png") center no-repeat;
    border: none;
}
.nav.nav-tabs {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 50px;
    padding: 0 40px 13px;
    font-size: 0;
    text-align: justify;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: transparent transparent #e9e9e9;
}
.nav.nav-tabs:after {
    display: inline-block;
    width: 100%;
    content: "";
}
.nav.nav-tabs > li {
    float: none;
    position: relative;
    margin: 0;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    font-size: 15px;
}
.nav.nav-tabs > li:first-child {
    margin-left: 0;
}
.nav.nav-tabs > li:before,
.nav.nav-tabs > li:after {
    position: absolute;
    bottom: -23px;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0;
}
.nav.nav-tabs > li:before {
    margin: 0 0 -2px -1px;
    border-width: 11px 15px 0 15px;
    border-color: #e9e9e9 transparent transparent transparent;
}
.nav.nav-tabs > li:after {
    border-width: 10px 14px 0 14px;
    border-color: #ffffff transparent transparent transparent;
}
.nav.nav-tabs > li:not(.active) > a:not(:hover):not(:focus) {
    color: #262627;
}
.nav.nav-tabs > li .fa {
    margin-right: 5px;
    vertical-align: text-bottom;
    font-size: 20px;
}
.nav.nav-tabs > li > a {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    position: relative;
    border: none;
}
.nav.nav-tabs > li > a:hover,
.nav.nav-tabs > li > a:focus {
    background-color: transparent;
}
.nav.nav-tabs > li > a .fa {
    color: inherit;
}
.nav.nav-tabs > li > a h1,
.nav.nav-tabs > li > a h2,
.nav.nav-tabs > li > a h3,
.nav.nav-tabs > li > a h4,
.nav.nav-tabs > li > a h5,
.nav.nav-tabs > li > a h6,
.nav.nav-tabs > li > a .h7,
.nav.nav-tabs > li > a .h8 {
    color: inherit;
}
.nav.nav-tabs > li.active:before,
.nav.nav-tabs > li.active:after {
    opacity: 1;
}
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active > a:hover,
.nav.nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: none;
    pointer-events: none;
}
.tab-content,
.tab-pane {
    zoom: 1;
}
.tab-content:before,
.tab-pane:before,
.tab-content:after,
.tab-pane:after {
    content: "";
    display: table;
}
.tab-content:after,
.tab-pane:after {
    clear: both;
}
.tab-content {
    padding-bottom: 50px;
}
.tab-content .img-responsive {
    margin: 0 auto;
}
.tabs-vertical {
    zoom: 1;
    overflow: hidden;
    border: 1px solid #e9e9e9;
}
.tabs-vertical:before,
.tabs-vertical:after {
    content: "";
    display: table;
}
.tabs-vertical:after {
    clear: both;
}
.tabs-vertical .nav.nav-tabs {
    float: left;
    position: relative;
    margin: 0;
    width: 26.7%;
    padding: 0;
    text-align: left;
    z-index: 1;
}
.tabs-vertical .nav.nav-tabs:before {
    margin-top: -1px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    height: 100%;
    content: "";
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #e9e9e9;
    z-index: -1;
}
.tabs-vertical .nav.nav-tabs > li {
    margin: 0;
    width: 100%;
}
.tabs-vertical .nav.nav-tabs > li:before,
.tabs-vertical .nav.nav-tabs > li:after {
    display: none;
}
.tabs-vertical .nav.nav-tabs > li:not(.active) a {
    -webkit-transition: color 0.25s ease, background 0.25s ease;
    -moz-transition: color 0.25s ease, background 0.25s ease;
    -o-transition: color 0.25s ease, background 0.25s ease;
    transition: color 0.25s ease, background 0.25s ease;
    color: #ffffff;
}
.tabs-vertical .nav.nav-tabs > li:not(.active) a * {
    color: #ffffff;
}
.tabs-vertical .nav.nav-tabs > li a {
    border-radius: 0;
}
.tabs-vertical .nav.nav-tabs > li.active a {
    border-top: 1px solid #e9e9e9;
    border-right-color: transparent;
}
.tabs-vertical .nav.nav-tabs > li.active + li a {
    border-top-color: #e9e9e9;
}
.tabs-vertical .nav.nav-tabs > li:first-child a {
    border-top-color: transparent;
}
.tabs-vertical .nav.nav-tabs > li a {
    -webkit-transition: color 0.2s ease, background 0.2s ease;
    -moz-transition: color 0.2s ease, background 0.2s ease;
    -o-transition: color 0.2s ease, background 0.2s ease;
    transition: color 0.2s ease, background 0.2s ease;
    width: 100%;
    padding: 48px 35px 32px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #e9e9e9;
}
.tabs-vertical .nav.nav-tabs > li p {
    margin-top: 5px;
    line-height: 1.6;
}
.tabs-vertical .tab-content {
    float: right;
    width: 73.3%;
    padding: 70px 50px 60px 60px;
}

/* ----------------------------------------------------------------------------
    Schedules
---------------------------------------------------------------------------- */
.schedule {
    margin-bottom: 50px;
    text-align: left;
}
.schedule .tab-content .nav-current {
    border-color: #e9e9e9;
}
.nav.nav-schedule {
    display: table;
    width: 100%;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #e9e9e9;
    z-index: 10;
}
.nav.nav-schedule > li {
    -webkit-transition: background 0.2s ease, border 0.2s ease;
    -moz-transition: background 0.2s ease, border 0.2s ease;
    -o-transition: background 0.2s ease, border 0.2s ease;
    transition: background 0.2s ease, border 0.2s ease;
    position: relative;
    display: table-cell;
    font-size: 15px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #e9e9e9;
    margin-bottom: 0px;
}
.nav.nav-schedule > li:after {
    -webkit-transition: opacity 0.15s ease;
    -moz-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 7px 10px 0 10px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    opacity: 0;
    z-index: 1;
}
.nav.nav-schedule > li > a {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    display: block;
    text-decoration: none;
    padding: 20px 15px 12px;
    text-align: center;
}
.nav.nav-schedule > li > a *:first-child {
    margin-top: 0;
}
.nav.nav-schedule > li > a *:last-child {
    margin-bottom: 0;
}
.nav.nav-schedule > li > a:hover,
.nav.nav-schedule > li > a:focus {
    background-color: transparent;
}
.nav.nav-schedule > li > a h1:first-child,
.nav.nav-schedule > li > a h2:first-child,
.nav.nav-schedule > li > a h3:first-child,
.nav.nav-schedule > li > a h4:first-child,
.nav.nav-schedule > li > a h5:first-child,
.nav.nav-schedule > li > a h6:first-child {
    margin: 0 0 -2px;
}
.nav.nav-schedule > li.active:after {
    opacity: 1;
}
.nav.nav-schedule > li.active,
.nav.nav-schedule > li.active:hover,
.nav.nav-schedule > li.active:active {
    cursor: default;
    pointer-events: none;
}
.nav.nav-schedule > li.active a,
.nav.nav-schedule > li.active a:hover,
.nav.nav-schedule > li.active a:focus,
.nav.nav-schedule > li.active a *,
.nav.nav-schedule > li.active a:hover *,
.nav.nav-schedule > li.active a:focus * {
    color: #ffffff;
}
.schedule .tab-content {
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: transparent #e9e9e9 #e9e9e9;
}
.schedule .tab-content .img-responsive {
    margin: 0;
}
.schedule .tab-content .nav.nav-schedule {
    display: inline-block;
    background-color: #eff1f5;
    border: none;
}
.schedule .tab-content .nav.nav-schedule > li {
    display: inline-block;
    border-width: 0 0 1px;
}
.schedule .tab-content .nav.nav-schedule > li:not(.active) {
    border-color: transparent;
}
.schedule .tab-content .nav.nav-schedule > li:after {
    display: none;
}
.schedule .tab-content .nav.nav-schedule > li > a {
    margin: 0;
    padding: 16px 45px 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.schedule .tab-content .nav.nav-schedule > li > a:not(:hover):not(:active) {
    color: #262627;
}
.schedule .tab-content .nav.nav-schedule > li.active {
    background-color: transparent;
}
.schedule .tab-content-schedule {
    position: relative;
    border: none;
    padding: 90px 100px 80px 80px;
}
.schedule .tab-content-schedule:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 104px;
    width: 0;
    display: block;
    content: "";
    border-right: 1px solid #eff1f5;
}
.schedule .tab-content-schedule .panel-group {
    margin-bottom: 0;
}
.schedule .tab-content-schedule .schedule-item {
    position: relative;
    margin-bottom: 22px;
    min-height: 65px;
    padding: 0 0 0 104px;
    background-color: transparent;
}
.schedule .tab-content-schedule .schedule-item:last-child {
    margin-bottom: 0;
}
.schedule .schedule-item + .schedule-item {
    margin-top: 0;
}
.schedule .schedule-item .lecture-icon-wrapper {
    position: absolute;
    vertical-align: middle;
    top: 25px;
    left: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    overflow: hidden;
}
.schedule .schedule-item .schedule-item-toggle {
    margin-bottom: 0;
    display: block;
    text-decoration: none;
    color: #262627;
}
.schedule .schedule-item .schedule-item-toggle .time {
    margin-bottom: 10px;
    font-size: 15px;
}
.schedule .schedule-item .schedule-item-toggle .time .icon {
    margin-right: 8px;
    vertical-align: middle;
    color: #babfcc;
}
.schedule .schedule-item .schedule-item-toggle .title {
    position: relative;
    margin: 0;
    padding: 0 35px 11px 0;
    border-bottom: 1px solid #eff1f5;
}
.schedule .schedule-item .schedule-item-toggle .title .icon {
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease,-moz-transform 0.3s ease,-o-transform 0.3s ease,transform 0.3s ease;
    position: absolute;
    right: 10px;
    bottom: 11px;
    font-size: 13px;
    color: #262627;
}
.schedule .schedule-item .schedule-item-body {
    margin-top: 0;
    /*font-size: @font-size-small;*/
}
.schedule .schedule-item .schedule-item-body .speaker-wrapper {
    margin-bottom: 0;
}
.schedule .schedule-item .schedule-item-body > article,
.schedule .schedule-item .schedule-item-body > div {
    margin: 0;
    padding: 11px 0;
}
.schedule .schedule-item .schedule-item-body .speaker-name {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.download-schedule-btn {
    -webkit-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    -moz-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    -o-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 220px;
    padding: 15px 25px 15px 90px;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    border: 1px solid #babfcc;
}
.download-schedule-btn:hover,
.download-schedule-btn:focus {
    color: #ffffff;
    text-decoration: none;
}
.download-schedule-btn .icon {
    position: absolute;
    top: 50%;
    left: 25px;
    margin-top: -20px;
    font-size: 50px;
    color: inherit;
}
.schedule.schedule-light {
    margin-bottom: 30px;
}
.schedule.schedule-light .nav-current {
    font-weight: 700;
    text-transform: uppercase;
    color: #262627;
}
.schedule.schedule-light .nav.nav-schedule {
    border-style: solid;
    border-width: 1px;
    border-collapse: separate;
}
.schedule.schedule-light .nav.nav-schedule > li {
    border-width: 0 1px;
    border-color: transparent #ffffff;
}
.schedule.schedule-light .nav.nav-schedule > li:first-child {
    border-left-color: transparent;
}
.schedule.schedule-light .nav.nav-schedule > li:last-child {
    border-right-color: transparent;
}
.schedule.schedule-light .nav.nav-schedule > li:after {
    display: none;
}
.schedule.schedule-light .nav.nav-schedule > li > a {
    padding: 24px 15px 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.schedule.schedule-light .nav.nav-schedule > li.active {
    background-color: #ffffff;
}
.schedule.schedule-light .tab-content {
    padding: 60px;
}
.schedule.schedule-light .schedule-item {
    margin-bottom: 40px;
    overflow: visible;
}
.schedule.schedule-light .schedule-item .schedule-item-toggle {
    position: relative;
    margin-bottom: 0;
    display: block;
    font-size: 0;
    text-decoration: none;
    color: #262627;
}
.schedule.schedule-light .schedule-item .schedule-item-toggle .time {
    vertical-align: top;
    margin: 0 20.5% 0 0;
    width: 26.5%;
    text-align: right;
}
.schedule.schedule-light .schedule-item .schedule-item-toggle .lecture-icon-wrapper {
    margin: 0 40px;
    position: absolute;
    top: -8px;
    left: 26.5%;
    display: inline-block;
    line-height: 38px;
    border: none;
}
.schedule.schedule-light .schedule-item .schedule-item-toggle .lecture-icon-wrapper * {
    color: #ffffff;
}
.schedule.schedule-light .schedule-item .schedule-item-toggle .title {
    display: inline-block;
    width: 53%;
    padding: 0;
    border: none;
}
.schedule.schedule-light .schedule-item .schedule-item-body {
    margin: 0 0 0 47%;
}
.schedule.schedule-light .schedule-item .schedule-item-body .speaker-name {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.black-bg .schedule.schedule-light .tab-content {
    background:#1C1E20;
    border:0px;
}
.black-bg .schedule.schedule-light .nav.nav-schedule {
    border:0px;
}
.schedule.schedule-light .nav.nav-schedule > li.active {
    background-color:#F0C40F;

}
.schedule.schedule-light .nav.nav-schedule > li.active a {
    color: #1C1E20;
}
.schedule.schedule-light .nav.nav-schedule > li {
    background-color:#032066;
}
.schedule.schedule-light .nav.nav-schedule > li a {
    color: #F0C40F;
}
.schedule.schedule-light .nav.nav-schedule > li.active a, .schedule.schedule-light .nav.nav-schedule > li.active a:hover, .schedule.schedule-light .nav.nav-schedule > li.active a:focus {
    color: #1C1E20;
}
.schedule.schedule-light .nav.nav-schedule > li {
    border:0px;
}

/******* NAVIGATION *******/
.navigation-link.active {
    border-color: #F0C40F;
}

/******* JUDGES ***********/
.speaker img:hover {
    -webkit-filter: contrast(100%);
    filter:contrast(100%)
}

/******* FREEBIES *********/
.freebie-img {
    max-width:150px;
}

/* ----------------------------------------------------------------------------
    Themes
---------------------------------------------------------------------------- */

#themes .panel-heading{
    background-color:#032066;
}

/* ----------------------------------------------------------------------------
    Sponsors
---------------------------------------------------------------------------- */
.sponsors {
    font-size: 0;
    line-height: 0;
}
.sponsor {
    margin: 15px;
    display: inline-block;
}
.sponsor:not(.inline) {
    position: relative;
    vertical-align: top;
    border: 2px solid #e9e9e9;
}
.sponsor:not(.inline) img {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    max-width: 80%;
    max-height: 80%;
}
.sponsor:not(.inline):not(.big) {
    width: 160px;
    height: 100px;
}
.sponsor.big {
    width: 255px;
    height: 255px;
}
.sponsor.inline {
    vertical-align: middle;
}
.sponsor:not(.inline) {
    border:0px;
}
.sponsor.big {
    height:105px;
}
.sponsors .sponsor.medium{
    width:210px;
    min-height:100px;
}
.sponsors .align-middle-logo{
    margin-top:55px;
}

#sponsors{
    padding-top:15px;
}

#sponsors .sponsors{
    padding:30px 0;
}

#sponsors .venues{
    background-color:rgba(255,255,255,0.18);
    margin-top:30px;
}

#sponsors .sponsors .big-sponsor a img{
    width:250px;
}

#sponsors .sponsors .medium-sponsor img{
    width:200px;
}

#sponsors .sponsors .small-sponsor img{
    width:150px;
}

#sponsors .sponsors .tiny-sponsor img{
    width:120px;
}

#sponsors .sponsors img.sponsor-height{
    width:auto;
    height:100px;
}
/******* FAQs *************/
.panel {
    background:transparent;
}
.panel-group-alt .panel > a.collapsed {
    color: #262627;
    border-color: #000;
}
.panel-group-alt .panel .panel-body {
    border-color: #000;
}
.panel-group-alt .panel > a {
    border:1px solid #000;
    padding:20px;
}
/* ----------------------------------------------------------------------------
    Footer
---------------------------------------------------------------------------- */
.footer {
    padding: 50px 0 0;
    color: #ffffff;
}
.footer-base {
    padding: 40px 0 30px;
    background-color: #1f2125;
    text-align: left;
}
.footer-nav > li {
    margin-right: 25px;
    display: inline-block;
}
.footer-nav > li:last-child {
    margin-right: 0;
}
.footer-nav > li a {
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.footer-nav > li a:not(:hover):not(:focus):not(:active) {
    color: #ffffff;
}
.footer .socials-nav {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    display: inline-block;
    width: auto;
    text-align: right;
}
.footer .socials-nav .socials-nav-item {
    margin: 0 8px;
    line-height: 1;
}
.footer .socials-nav + p {
    margin: 0 0 0 15px;
    vertical-align: top;
    display: inline-block;
    line-height: 25px;
}
.widget-head .fa {
    margin-right: 5px;
}
.about-widget img {
    margin: 20px 0 30px;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.footer-logo {
    width:200px;
}
/******* HELPERS *********/

.letter-spacing{
    letter-spacing: 30px;
}
.font-70{
    font-size:70px;
}
.top40{
    margin-top:40px;
}
.top32 {
    margin-top:32px;
}
.top25{
    margin-top:25px;
}
.bottom25{
    margin-bottom:25px;
}
.top100 {
    margin-top:100px;
}
.white {
    color:white;
}
.yellow.yellow.yellow {
    color:#F0C40F;
}
.black {
    color:#000 !important;
}
.thin {
    font-weight:200;
}

body .custom-color{
    color: #ffffff;
}

.underline{
    text-decoration: underline;
}

.inline{
    display:inline-block;
}

.extra-padding-top{
    padding-top:15px;
}

.extra-padding-bottom{
    padding-bottom:15px;
}

.extra-padding-left{
    padding-left:15px;
}

.extra-margin-left{
    margin-left:15px;
}

.extra-margin-right{
    margin-right:15px;
}

.extra-margin-bottom{
    margin-bottom:15px;
}

.extra-margin-top{
    margin-top:15px;
}

.li-disk
{
    list-style:disc;
    padding-left:20px;
    margin-left:20px;
}

.line-separator{
    border-top: 5px solid #F0C40F;
    padding:25px 0;
}

area{
    outline:none;
}

.parallax{
    position:fixed;
    height:100%;
    width:100%;
}

/* ----------------------------------------------------------------------------
    Preloader
---------------------------------------------------------------------------- */
.preloader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7;
    z-index: 10000;
    height: 100%;
}
.preloader-mask .preloader {
    -webkit-animation: border-pulse-1 1.4s linear infinite;
    -moz-animation: border-pulse-1 1.4s linear infinite;
    -o-animation: border-pulse-1 1.4s linear infinite;
    animation: border-pulse-1 1.4s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-radius: 50%;
    border-width: 26px;
}
.preloader-mask .preloader:before,
.preloader-mask .preloader:after {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    display: block;
    content: "";
    border-style: solid;
    border-width: 0;
    border-radius: 50%;
}
.preloader-mask .preloader:before {
    -webkit-animation: border-pulse-2 1.4s linear infinite;
    -moz-animation: border-pulse-2 1.4s linear infinite;
    -o-animation: border-pulse-2 1.4s linear infinite;
    animation: border-pulse-2 1.4s linear infinite;
    opacity: 0.5;
}
.preloader-mask .preloader:after {
    -webkit-animation: border-pulse-3 1.4s linear infinite;
    -moz-animation: border-pulse-3 1.4s linear infinite;
    -o-animation: border-pulse-3 1.4s linear infinite;
    animation: border-pulse-3 1.4s linear infinite;
}
@keyframes border-pulse-1 {
    0% {
        border-width: 26px;
    }
    33.33333% {
        border-width: 3px;
    }
    66.66666% {
        border-width: 3px;
    }
    100% {
        border-width: 3px;
    }
}
@-o-keyframes border-pulse-1 {
    0% {
        border-width: 26px;
    }
    33.33333% {
        border-width: 3px;
    }
    66.66666% {
        border-width: 3px;
    }
    100% {
        border-width: 3px;
    }
}
@-moz-keyframes border-pulse-1 {
    0% {
        border-width: 26px;
    }
    33.33333% {
        border-width: 3px;
    }
    66.66666% {
        border-width: 3px;
    }
    100% {
        border-width: 3px;
    }
}
@-webkit-keyframes border-pulse-1 {
    0% {
        border-width: 26px;
    }
    33.33333% {
        border-width: 3px;
    }
    66.66666% {
        border-width: 3px;
    }
    100% {
        border-width: 3px;
    }
}
@keyframes border-pulse-2 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 23px;
    }
    100% {
        border-width: 23px;
    }
}
@-o-keyframes border-pulse-2 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 23px;
    }
    100% {
        border-width: 23px;
    }
}
@-moz-keyframes border-pulse-2 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 23px;
    }
    100% {
        border-width: 23px;
    }
}
@-webkit-keyframes border-pulse-2 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 23px;
    }
    100% {
        border-width: 23px;
    }
}
@keyframes border-pulse-3 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 0;
    }
    100% {
        border-width: 23px;
    }
}
@-o-keyframes border-pulse-3 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 0;
    }
    100% {
        border-width: 23px;
    }
}
@-moz-keyframes border-pulse-3 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 0;
    }
    100% {
        border-width: 23px;
    }
}
@-webkit-keyframes border-pulse-3 {
    0% {
        border-width: 0;
    }
    33.33333% {
        border-width: 0;
    }
    66.66666% {
        border-width: 0;
    }
    100% {
        border-width: 23px;
    }
}
/* ----------------------------------------------------------------------------
    Panels
---------------------------------------------------------------------------- */
.panel-group .panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border: none;
}
.panel-group .panel .panel-heading {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    padding: 0;
    border: none;
    border-bottom: none;
}
.panel-group .panel .panel-heading a {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 15px 15px 50px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
.panel-group .panel .panel-heading a.collapsed {
    background-color: #f3f5f6;
    color: #262627;
}
.panel-group .panel .panel-heading a.collapsed:before {
    content: '+';
}
.panel-group .panel .panel-heading a:hover,
.panel-group .panel .panel-heading a.collapsed:hover {
    background-color: #e9e9e9;
    color: #393b40;
}
.panel-group .panel .panel-heading a:before {
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 30px;
    content: '-';
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    line-height: inherit;
    color: inherit;
}
.panel-group .panel .panel-heading + .panel-collapse .panel-body {
    padding: 16px 30px;
    border: 1px solid #dadfe4;
    border-top: none;
}
.panel-group .panel + .panel {
    margin-top: 8px;
}
.panel-group-alt {
    line-height: 0;
}
.panel-group-alt .panel + .panel {
    margin-top: 6px;
}
.panel-group-alt .panel > a {
    -webkit-transition: color 0.2s ease, background 0.2s ease;
    -moz-transition: color 0.2s ease, background 0.2s ease;
    -o-transition: color 0.2s ease, background 0.2s ease;
    transition: color 0.2s ease, background 0.2s ease;
    display: block;
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.22em;
    border: 1px solid transparent;
    line-height: 20px;
}
.panel-group-alt .panel > a.collapsed {
    color: #262627;
    border-color: #eff1f5;
}
.panel-group-alt .panel > a:not(.collapsed) {
    color: #ffffff;
}
.panel-group-alt .panel > a:not(.collapsed) .fa {
    color: #ffffff;
}
.panel-group-alt .panel > a .fa {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.panel-group-alt .panel .panel-body {
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #e9e9e9;
}
.panel-group-alt .panel .panel-body *:last-child {
    margin-bottom: 0;
}
/* ----------------------------------------------------------------------------
    Tables
---------------------------------------------------------------------------- */
.table {
    text-align: left;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #e9e9e9;
}
.table > thead > tr > th,
.table > thead > tr > td {
    font-weight: 600;
    color: #ffffff;
    border: none !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
    padding: 15px 25px;
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: #e9e9e9;
}
.table tr:nth-child(even) {
    background: #ededef;
}
/* Media queries */
@media (max-width: 767px) {
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 10px;
    }
}
/* ----------------------------------------------------------------------------
    Thumbnails
---------------------------------------------------------------------------- */
.thumb-wrapper {
    position: relative;
    margin: 15px 0;
    display: block;
    width: 100%;
    overflow: hidden;
}
.thumb-wrapper img {
    width: 100%;
}
.thumb-wrapper .overlay {
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease,-moz-transform 0.3s ease,-o-transform 0.3s ease,transform 0.3s ease;
    top: auto;
    padding: 15px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
}
.thumb-wrapper:hover .overlay {
    top: 0;
}
/* ----------------------------------------------------------------------------
    Socials navigation
---------------------------------------------------------------------------- */
.socials-nav {
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    text-align: center;
}

.socials-nav-coming-soon{
    top:75px;
}
.socials-nav-item {
    margin: 0 12px;
    display: inline-block;
    width: 24px;
    font-size: 20px;
}
.socials-nav-item a {
    display: inline-block;
    padding: 2px 6px;
}
.socials-nav-item a:not(:hover):not(:active):not(:focus) {
    color: #ffffff;
}
.socials-nav-item a .fa {
    color: inherit;
}
/* ----------------------------------------------------------------------------
    Speakers
---------------------------------------------------------------------------- */
.speaker {
    margin-bottom: 40px;
    text-align: center;
}
.speaker .photo-wrapper {
    margin: 0 auto 20px;
    display: inline-block;
    max-width: 100%;
}
.speaker .photo-wrapper.rounded {
    border-radius: 50%;
    overflow: hidden;
}
.speaker .photo-wrapper img {
    display: block;
    max-width: 100%;
}
.speaker .name {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 0.3em;
}
.speaker .name + p small {
    font-size: 14px;
}
.speaker .about {
    padding: 0 15px;
}
.speaker .speaker-socials > li {
    padding: 0 10px;
    display: inline-block;
    text-align: center;
}
.speaker .speaker-socials > li a {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    display: inline-block;
}
.speaker .speaker-socials > li a:not(:hover):not(:focus):not(:active) .fa {
    background-color: transparent;
    border-color: #e9e9e9;
}
.speaker .speaker-socials > li a:hover .fa,
.speaker .speaker-socials > li a:focus .fa,
.speaker .speaker-socials > li a:active .fa {
    color: #ffffff;
}
.speaker .speaker-socials > li .fa {
    -webkit-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    -moz-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    -o-transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    transition: color 0.2s ease, background 0.2s ease, border 0.2s ease;
    width: 30px;
    height: 30px;
    line-height: 27px;
    border-radius: 50%;
    border: 2px solid;
}
.speakers.masonry.width720 .masonry-item {
    width: 49.5%;
    padding: 15px 15px;
}
.speakers.masonry.width400 .masonry-item {
    width: 100%;
    padding: 15px 0;
}
.speakers.masonry .masonry-item {
    vertical-align: top;
    padding: 10px 15px;
    text-align: left;
}
.speakers.masonry .speaker-top {
    position: relative;
    margin-bottom: 15px;
    padding-left: 85px;
    min-height: 70px;
}
.speakers.masonry .speaker-top .speaker-title {
    vertical-align: bottom;
    display: table-cell;
    height: 45px;
    padding-bottom: 2px;
}
.speakers.masonry .speaker-top .name {
    margin: 0;
}
.speakers.masonry .speaker-top .name + p {
    margin: 0;
    line-height: 16px;
}
.speakers.masonry .speaker-top .photo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}
.speakers.masonry .speaker-top .speaker-socials > li {
    padding: 0 10px 0 0;
}
.speakers.masonry .speaker-top .speaker-socials > li .fa {
    width: 20px;
    height: 20px;
    font-size: 11px;
    line-height: 18px;
}
.speakers.masonry .about {
    margin: 0;
    padding: 0;
}